.ng2-html-text-transform-buttons {
    display: flex;
    background: #ddd;
    border-bottom: 1px solid black;
}

.ng2-html-text-transform-buttons .buttons {
}

.ng2-html-text-transform-buttons .buttons .button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #eee;
    margin: 4px;
    border: 1px solid #aaa;
}

.ng2-html-text-transform-buttons .button:hover {
    background: #fff;
}

.ng2-html-text-transform-buttons .buttons .selected {
    background: #ccc;
}

.ng2-html-text-transform-text-area {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
}