.window--header {
    display: flex;
    flex-direction: row;
    min-height: 28px;
    padding: 0 6px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    background: #333;
    border-bottom: 2px solid blue;
    font-size: 13px;
    cursor: move;
}

.window--header-label {
    pointer-events: none;
}

.window--header-close {
    cursor: pointer;
}

.window--container {
    display: flex;
    flex-direction: column;
    height: 470px;
}